* {
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Console', Verdana;
    color: #516185;
    background-image: url("../img/BG.png");
    background-color: #2e292b;
}

h1, h2, p {
    text-align: center;
}

p, li {
    font-size: 0.9rem;
    line-height: 1.5;
}

hr {
    color: #c8d1e5;
}

li {
    margin: 10px;
}

.els-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

.corner-image {
    position: absolute;
    height: auto;
    width: 125px;
    bottom: 0;
    right: 0;

    margin-bottom: 0px;
    margin-right: -50px;
}

.container {
    position: relative;
    overflow: visible;
    width: 700px;
    padding: 20px 50px;
    margin: 20px auto;
    background-color: #ffffff80;

    border-radius: 20px;
}